In [1]:
import pandas as pd
import numpy as np
import sympy
from sympy.solvers.inequalities import reduce_rational_inequalities,reduce_inequalities
from itertools import chain
from collections import defaultdict
from IPython.display import display

from sympy.parsing.sympy_parser import parse_expr
from sympy.parsing.sympy_parser import standard_transformations
from sympy.printing.mathml import print_mathml
import math
from IPython.display import display, Markdown, Latex
import os

import seaborn as sns
import matplotlib.pyplot as plt

def make_symbols_positive(sym):
    return sympy.symbols("{}".format(sym),positive =True)

def make_symbols_function(sym):
    return sympy.symbols("{}".format(sym),cl)

def subs_function(target,list_):
    return sympy.simplify(target.subs(list_))

def root_cal(value):
    return value**(1/2)

In [2]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

print(color.BOLD + 'Hello World !' + color.END)

Hello World !

# w_range

In [3]:
def sol_w_same(df_1,target_):
    w_sol = sympy.solve([df_1["QD"][target_]-df_1["FB"][target_]],w)
    return w_sol

In [4]:
def sol_w_other(df_1,equa):
    w_sol = sympy.solve(equa,w)
    return w_sol

In [5]:
def display_solve(df_1,w_sol):
    for row,col in df_1.iterrows():
        print(row)
        try:
            display(col["QD"].subs([(w,w_sol)]).factor())
        except:
            print()
        print()

In [6]:
def display_solve2(df_1,w_sol):
    for row,col in df_1.iterrows():
        print(row)
        try:
            display(col["QD"].subs([(w,w_sol)]).simplify())
        except:
            print()
        print()

In [7]:
def display_w_insert(df_,w_1):
    order_ = ["w","epsilon","t","p","q_nd","q_t","q","profit_r","profit_s","profit_all","h1_r_p","h1_s_w","h1_s_e"]
    if w_1 == "WH":
        for ord_ in order_:
            try:
                value_ = df_[1][ord_].factor()
                value_2 = df_[1][ord_].simplify()
                print(color.RED + ord_ + color.END)
                display("factor: ",value_)
                display("simplify: ",value_2)
                print("-"*40)
            except:
                print(color.RED + ord_ + color.END)
                print("-"*40)
    else:
        for ord_ in order_:
            try:
                value_ = df_[1][ord_].subs([(w,w_1)]).factor()
                value_2 = df_[1][ord_].subs([(w,w_1)]).simplify()
                print(color.RED + ord_ + color.END)
                display("factor: ",value_)
                display("simplify: ",value_2)
                print("-"*40)
            except:
                print(color.RED + ord_ + color.END)
                print("-"*40)

In [17]:
Path_ = r"C:\Users\Samsung\jupyter\Graduation_thesis\result\version_un_4\새 폴더"

In [18]:
file_list = os.listdir(Path_)
file_list_xlsx = [f for f in file_list if f.endswith(".xlsx")]
#file_FB = [f for f in file_list_xlsx if f.contains("FB")]
#file_WH = [f for f in file_list_xlsx if f.contains("WH")]
#file_QD = [f for f in file_list_xlsx if f.contains("QD")]

In [19]:
file_name = [li.replace(".xlsx","") for li in file_list_xlsx]
file_name

['KN_BD_FB',
 'KN_BD_QD',
 'KN_BD_WH',
 'KN_BS_FB',
 'KN_BS_QD',
 'KN_BS_WH',
 'KN_DD_FB',
 'KN_DD_QD',
 'KN_DD_WH',
 'KN_SD_FB',
 'KN_SD_QD',
 'KN_SD_WH',
 'ND_FB',
 'ND_QD',
 'ND_WH']

In [20]:
for fn in file_name:
    path_ = Path_ + "\\{}.xlsx"
    globals() ["{}".format(fn)] = pd.read_excel(path_.format(fn),index_col=0,header=None)
    try:
        globals() ["{}".format(fn)] = globals() ["{}".format(fn)]#.rename(index={"profit_all":"pro_all"})
    except:
        pass

In [21]:
p,w,c,s,alpha,beta,delta_d,delta_s,epsilon,psi = make_symbols_positive("p,w,c,s,alpha,beta,delta_d,delta_s,epsilon,psi")

In [22]:
parse_dic = {"p":p,"w":w,"c":c,"s":s
             ,"alpha":alpha,"beta":beta
             ,"delta_d":delta_d,"delta_s":delta_s,"epsilon":epsilon }

In [23]:
for fn in file_name:
    globals() ["{}".format(fn)][1] = globals() ["{}".format(fn)][1].map(lambda x: parse_expr(x.replace("^","**").replace("lambda","lambda_"),parse_dic))

# Un cases

In [24]:
solve_ws = sympy.solve((ND_QD[1]["profit_s"]-ND_WH[1]["profit_s"]).factor(),w)
w_w = solve_ws[1]
w_w

(-alpha + 2*beta*c + sqrt(2)*(alpha - beta*c))/beta

In [25]:
solve_w = sympy.solve((ND_QD[1]["profit_all"]-ND_FB[1]["profit_all"]).factor(),w)
w_c = solve_w[0]
w_c

alpha/beta

In [26]:

tar_wh = ND_WH.copy()
tar_qd = ND_QD.copy()

ND_QDW = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor())) 
ND_QDC = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [31]:
time_ = "KN"
dis_ = "DD"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  

diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [32]:
time_ = "KN"
dis_ = "SD"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  

diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [33]:
time_ = "KN"
dis_ = "BD"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  

diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [34]:
time_ = "KN"
dis_ = "BS"


tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]

globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))  

diss_ = ["DD","SD","BD","BS"]

for dis_ in diss_:
    tar_wh = globals() ["{}_{}_WH".format(time_,dis_)]
    tar_qd = globals() ["{}_{}_QD".format(time_,dis_)]
    globals() ["{}_{}_QD{}".format(time_,dis_,"W")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_w)]).factor()))  
    globals() ["{}_{}_QD{}".format(time_,dis_,"C")] = pd.DataFrame(tar_qd[1].map(lambda x : x.subs([(w,w_c)]).factor()))

In [35]:
def hessian_(df_,para_):
    try:
        try:
            a_ = float(df_[1]["h1_r_p"].subs(para_))
            b_ = float(df_[1]["h1_s_w"].subs(para_))
            if a_ and b_ <= 0:
                pass
            else:
                return "STOP",(a_,b_)
        except:
            a_ = float(df_[1]["h1_r_p"].subs(para_))
            b_ = float(df_[1]["h1_s_w"].subs(para_))
            c_ = float(df_[1]["h1_s_e"].subs(para_))
            if a_ and b_ and c_ <= 0:
                pass
            else:
                return "STOP",(a_,b_,c_)
    except:
        pass

In [36]:
def subs_lambda(y,params):
    try:
        out_ = y.subs(params)
        try:
            out_ = round(float(out_),3)
        except:
            pass
    except:
        out_ = 0
    return out_

In [37]:
def apply_num(df,para_list):
    return df.apply(lambda x : x.map(lambda y: subs_lambda(y,para_list)))

In [49]:
file_name_2 = ['KN_BD_FB',
 'KN_BD_QDW',
 'KN_BD_QDC',
 'KN_BD_WH',
 'KN_BS_FB',
 'KN_BS_QDW',
 'KN_BS_QDC',
 'KN_BS_WH',
 'KN_DD_FB',
 'KN_DD_QDW',               
 'KN_DD_QDC',
 'KN_DD_WH',
 'KN_SD_FB',
 'KN_SD_QDW',
 'KN_SD_QDC',
 'KN_SD_WH',
 'ND_FB',
 'ND_QD',
 'ND_WH']

In [50]:
n_d= 0.4
n_s= 0.3
para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,100)]

In [51]:
for file_ in file_name_2:
    df_test = globals ()["{}".format(file_)]
    print(hessian_(df_test,para_))

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [52]:
para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,100)]
n_d= 0.3
n_s= 0.4

In [53]:
for file_ in file_name_2:
    df_test = globals ()["{}".format(file_)]
    print(hessian_(df_test,para_))

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [55]:
s_ = 100
spot_premium = 1.1


df_all = []
for file_ in file_name_2:
    df_1 =  globals ()["{}".format(file_)].rename(columns={1:file_})
    if "DD" in file_:
        n_d = 0.4
        n_s = 0
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]

        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_]
        
    elif "SD" in file_:
        n_d = 0
        n_s = 0.4
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*spot_premium
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        print(hessian_(df_1,para_))
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    elif "BD" in file_:
        #print(file_)
        n_d = 0.4
        n_s = 0.3
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]

        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_]
    elif "BS" in file_:
        #print(file_)
        n_d = 0.3
        n_s = 0.4
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)]
        price_ = float(df_1[file_]["p"].subs(para_))
        s_1 = price_*spot_premium
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_1)]
        
        
        First_num = apply_num(df_1,para_)
        First_num.loc[len(First_num)] = [s_1]
    else:

        n_d = 0
        n_s = 0    
        para_ = [(alpha,1200),(beta,7),(c,50),(delta_d,n_d),(delta_s,n_s),(s,s_)] 
        
        First_num = apply_num(df_1,para_)
    df_all.append(First_num)

None
None
None
None

In [56]:
df_con = pd.DataFrame()
for df_2 in df_all:
    df_con = pd.concat([df_con,df_2],axis=1)

In [57]:
df_con

,KN_BD_FB,KN_BD_QDW,KN_BD_QDC,KN_BD_WH,KN_BS_FB,KN_BS_QDW,KN_BS_QDC,KN_BS_WH,KN_DD_FB,KN_DD_QDW,KN_DD_QDC,KN_DD_WH,KN_SD_FB,KN_SD_QDW,KN_SD_QDC,KN_SD_WH,ND_FB,ND_QD,ND_WH
p,110.714,128.497,110.714,141.071,116.122000,133.697,117.855,144.898,110.714,128.497,110.714,141.071,127.271,143.765,131.921,152.139,110.714,1075/7 - w/4,141.071
q_d,255.000,180.312,255,127.5,271.000000,184.887,262.509,130,255.000,180.312,255,127.5,720.0 - 4.2*p,193.647,276.55,135.025,NaN,NaN,NaN
profit_all,15482.143,14154,15482.1,11611.6,14987.959000,12957.6,14868,10346.9,15482.143,14154,15482.1,11611.6,13649,10227.1,12628.5,7813.61,25803.571,-7*w**2/16 + 150*w + 90625/7,19352.7
h1_all_p,-8.400,NaN,NaN,NaN,-9.800000,NaN,NaN,NaN,-8.400,NaN,NaN,NaN,-14,NaN,NaN,NaN,-14.000,NaN,NaN
4,100.000,NaN,NaN,NaN,125.714286,NaN,NaN,NaN,100.000,NaN,NaN,NaN,132.786,NaN,NaN,NaN,NaN,NaN,NaN
w,NaN,100.297,171.429,110.714,NaN,100.297,171.429,111.905,NaN,100.297,171.429,110.714,NaN,100.297,171.429,114.298,NaN,w,110.714
epsilon,NaN,0.041,0.238,NaN,NaN,0.034,0.224,NaN,NaN,0.041,0.238,NaN,NaN,0.022,0.201,NaN,NaN,(21*w - 1900)/(7*(7*w + 500)),NaN
p_w,NaN,-(10080.0*epsilon - 850*sqrt(2) - 700)/(14*(1 ...,171.429,w/2 + 600/7,NaN,-0.102040816326531*(7056.0*epsilon - 510.0*sqr...,-0.102040816326531*(7056.0*epsilon - 1649.9642...,0.428571428571429*w + 96.9387755102041,NaN,-(10080.0*epsilon - 850*sqrt(2) - 700)/(14*(1 ...,171.429,w/2 + 600/7,NaN,(-10080.0*epsilon + 510.0*sqrt(2) + 1326.66261...,(2313.8 - 10080.0*epsilon)/(14*(1 - 4.2*epsilon)),0.3*w + 117.85,NaN,(-16800*epsilon + 7*w + 1200)/(14 - 98*epsilon),w/2 + 600/7
q_t,NaN,180.312,255,127.5,NaN,158.475,225.008,111.429,NaN,180.312,255,127.5,NaN,116.188,165.93,81.015,NaN,NaN,NaN
t,NaN,92.931,110.714,110.714,NaN,94.021,112.502,111.905,NaN,92.931,110.714,110.714,NaN,96.106,115.845,114.298,NaN,NaN,NaN
profit_r,NaN,6412.91,0,3870.54,NaN,5981.47,804.555,3448.98,NaN,6412.91,0,3870.54,NaN,4870.05,1702.76,2604.54,NaN,(1200 - 7*w)*(7*w/4 + 125)/14,6450.89
profit_s,NaN,7741.07,15482.1,7741.07,NaN,6976.16,14063.5,6897.96,NaN,7741.07,15482.1,7741.07,NaN,5357,10925.7,5209.07,NaN,(7*w/4 + 125)*(7*w + 500)/28,12901.8
h1_r_p,NaN,-6.959,0,-8.4,NaN,-8.403,-0.561,-9.8,NaN,-6.959,0,-8.4,NaN,-12.727,-2.182,-14,NaN,-28*(1200 - 7*w)/(7*w + 500),-14
h1_s_w,NaN,-5.595,zoo,-4.2,NaN,-4.548,-581.441,-3.6,NaN,-5.595,zoo,-4.2,NaN,-2.911,-59.96,-2.52,NaN,-7*(-49*w**2 + 16800*w + 1450000)/(8*(1200 - 7...,-7
h1_s_e,NaN,-397943,zoo,NaN,NaN,-334782,-1.51598e+08,NaN,NaN,-397943,zoo,NaN,NaN,-228679,-1.58698e+07,NaN,NaN,-7*(7*w + 500)**4/(32*(1200 - 7*w)**2),NaN
h2_s,NaN,-208920,zoo,NaN,NaN,-150652,-6.8219e+07,NaN,NaN,-208920,zoo,NaN,NaN,-72033.9,-4.99898e+06,NaN,NaN,-49*(7*w + 500)**4/(256*(1200 - 7*w)**2),NaN
14,NaN,100,100,NaN,NaN,145.287,128.52,NaN,NaN,100,100,NaN,NaN,152.38,140.643,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,100,NaN,NaN,NaN,157.143,NaN,NaN,NaN,100,NaN,NaN,NaN,160.679,NaN,NaN,NaN
q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,425.000,7*w/4 + 125,212.5
T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,w/4 + 475/7,110.714

In [58]:
df_con.to_excel(r"C:\Users\Samsung\jupyter\Graduation_thesis\result\graph_\kn_1.xlsx")

In [66]:
KN_BD_QDC[1]["q_t"]

(-alpha + beta*c)*(delta_d - 1)/2

In [67]:
KN_BD_QDC[1]["q_d"]

(-alpha + beta*c)*(delta_d - 1)/2